/* リセットCSSの追加 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 他のリセットスタイルを追加することもできます */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
